<!DOCTYPE html>
<html>
<head>
<%-include('./partials/head.ejs')%>
</head>
<header>
  <%-include('./partials/header.ejs')%>
</header>
    <body>
      <style>
        body {
          background-color: white;
        }

        form {
          margin-left: 5%;
          margin-bottom: 10%;
        }

      </style>
        <h1>Edit Tree Info</h1>
        <form action="/mango/<%=product.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=product.name%>"/><br/>
            Description: <input type="text" name="description" value="<%=product.description%>"/><br/>
            Image: <input type="text" name="img" value="<%=product.img%>"/><br/>
            Price: <input type="text" name="price" value="<%=product.price%>"/><br/>
            Qty: <input type="text" name="qty" value="<%=product.qty%>"/><br/>


            <input type="submit" name="" value="Submit Tree Changes"/>
        </form>
    </body>
</html>
